.form-create {
  padding: 15px 20px;
  .subtitle {
    // margin-left: 0.5em;
    color: #1894ff;
    font-weight: 600;
    margin-top: 1em;
  }
  .layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .label {
    margin-bottom: 5px;
  }
  .title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
  .upload-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .label-upload-img {
      width: 150px;
      height: 150px;
      border: 1px solid #e4e4e4;
      text-align: center;
      font-size: 35px;
      font-weight: 500;
      position: relative;
      img {
        width: 150px;
        height: 150px;
      }

      label {
        position: absolute;
        bottom: 7px;
        right: 7px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background: #bcbcbc;
      }
    }

    .img {
      display: flex;
    }
  }
  .add-new {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .btn-add-new {
      outline: none;
      border: none;
      width: 30%;
      height: 45px;
      background: none;
      border: 1px solid #1894ff;
      color: #1894ff;
      border-radius: 20px;
    }
    .label{
      color: #1894ff;
      font-weight: bold;
      margin-top: 7px;
    }
  }
  .input-text {
    width: 100%;
    input {
      outline: none;
      width: 95%;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #e4e4e4;
    }
    select {
      width: 95%;
      padding: 10px;
      border-radius: 5px;
      outline: none;
      border: 1px solid #e4e4e4;
    }
  }
  .content {
    // padding: 10px 10px 0 10px;
    align-items: center;
    margin: 0 0 5px 0;
    .img {
      display: flex;
      flex-direction: column;
      img {
        width: 150px;
        height: 150px;
      }
    }
  }
  .group-btn {
    text-align: center;
    margin-top: 30px;
  }
}
.btn-cancel {
  width: 140px;
  height: 50px;
  background-color: #d6d6d6;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
}
.btn-save {
  width: 140px;
  height: 50px;
  background-color: #1894ff;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
}
.list-complete{
  max-height: 250px;
  width: 450px;
  overflow: auto;
  position: absolute;
  background: #ffffff;
  border: 1px solid;
  z-index: 999;
  .select-name{
     min-height: 35px;
     line-height: 35px;
     padding: 0 10px;
     font-weight: 600;
  }
  .select-name:hover{
    background-color: #1894FF;
    color: white;
  }
}
.certification {
  text-align: start;
  width: 100%;
  border: 1px dotted;
  background-color: #f6f6f6;
  padding: 10px 20px;
  margin-top: 20px;
  .box-content {
    display: flex;
    label {
      font-weight: bold;
      width: 30%;
    }
    span{
      font-weight: 600;
    }
    .list-img{
      display: flex;
      flex-direction: column;
      .text{
        white-space: nowrap; 
        width: 500px; 
        overflow: hidden;
        text-overflow: ellipsis; 
        color: #1894FF;
      }
    }
  }
}
.required{
  color: red;
}
.position{
  position: relative;
  .img{
    position: absolute;
    right: 30px;
    top: 10px;
  }
}
.company{
  position: relative;
}
.hidden{
  display: none;
}