<!-- <app-create [(data)]="listCreate" [(option)]="option" [(arrayButton)]="arrayButton"
    (callback)="handleCallbackEvent($event)"></app-create> -->
    <div class="form-create">
        <div class="title">
            THÔNG TIN SẢN PHẨM
        </div>
        <div class="subtitle">
            THÔNG TIN CHUNG
        </div>
        <div class="layout">
            <div class="content row align-items-center">
                <div class="label"> Mã số sản phẩm toàn cầu (GTIN) (<span class="require-icon">*</span>) </div>
                <div class="input-text">
                    <div>
                        <input type="text" [(ngModel)]="dataModel.ProductCode"  name="" />
                    </div>
                </div>
            </div>
            <div class="content row align-items-center">
                <div class="label"> Tên sản phẩm (<span class="require-icon">*</span>) </div>
                <div class="input-text">
                    <div>
                        <input type="text" [(ngModel)]="dataModel.Name"  name="" />
                    </div>
                </div>
            </div>
            <div class="content row align-items-center">
                <div class="label"> Giá niêm yết (<span class="require-icon">*</span>) </div>
                <div class="input-text">
                    <div>
                        <input type="text" [(ngModel)]="dataModel.Price"  name="" />
                    </div>
                </div>
            </div>
            <div class="content row align-items-center">
                <div class="label"> Ngành hàng (<span class="require-icon">*</span>) </div>
                <div class="input-text">
                    <div>
                        <select [(ngModel)]="dataModel.CategoryId">
                            <option [value]="category.CategoryId" [selected]='category.CategoryId === dataModel.CategoryId' *ngFor="let category of categories">
                                {{category.Name}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="content row align-items-center">
                <div class="label"> Nhà phân phối (<span class="require-icon">*</span>) </div>
                <div class="input-text">
                    <div class="distributor">
                        <div class="position">
                            <input (input)="autocompleteDistributor($event.target.value)" [(ngModel)]="dataModel.DistributorName" type="text" name="" >
                            <img class="img" src="assets/svg/icon-dropdown.svg" alt="">
                        </div>
                        <div class="list-complete" [class]="listSearchDistributor.length !== 0 ? '' : 'hidden'"> 
                           <div class="select-name" (click)="selectDistributor(distributor)" *ngFor="let distributor of listSearchDistributor">{{distributor.Name}}</div>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="content row align-items-center">
                <div class="label"> Điểm bán (<span class="require-icon">*</span>) </div>
                <div class="input-text">
                    <div class="distributor">
                        <div class="position">
                            <input (input)="autocomplete($event.target.value)" [(ngModel)]="dataModel.StoreName" type="text" name="" >
                            <img class="img" src="assets/svg/icon-dropdown.svg" alt="">
                        </div>
                        <div class="list-complete" [class]="listSearchStore.length !== 0 ? '' : 'hidden'"> 
                           <div class="select-name" (click)="selectStore(store)" *ngFor="let store of listSearchStore">{{store.Name}}</div>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="content row align-items-center">
                <div class="label"> Thị trường mục tiêu (<span class="require-icon">*</span>) </div>
                <div class="input-text">
                    <mat-select class="mat-select" (selectionChange)="check(dataModel.TargetMarketIdList)" [(ngModel)]="dataModel.TargetMarketIdList"  multiple>
                        <mat-option *ngFor="let targetMarket of listTargetMarket" [value]="targetMarket.TargetMarketId">{{targetMarket.Name}}</mat-option>
                      </mat-select>
                </div>
            </div>
        </div>
        <div class="upload-img">
            <div class="content row align-items-center">
                <div class="label"> Ảnh đại diện (<span class="require-icon">*</span>) </div>
                <div class="input-text">
                    <div class="avatar insideShadow">
                        <img [src]="imageUrl">
                        <label for="imageProcess">
                            <span class="material-icons">
                                add_a_photo
                            </span>
                        </label>
                        <input #imageProcess type="file" accept='image/*' id="imageProcess"
                            (change)="processFile(imageProcess.files)" hidden>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="subtitle">
            GIẤY CHỨNG NHẬN &nbsp; &nbsp; <button class="btn-add-new" (click)="addCertificate()">Thêm mới</button>
        </div>
        <div *ngIf="listCertification">
            <div class="certification" *ngFor="let item of certificationDetail">
              <div class="box-content">
                <label for="">Tên chứng nhận: </label> <span>{{ item.Name }}</span>
              </div>
              <div class="box-content">
                <label for="">Trạng thái: </label> <span>{{item.Type === 1 ? 'Hiển thị' : 'Không hiển thị'}}</span>
              </div>
              <div class="box-content">
                <label for="">Ngày hết hạn: </label>
                <span>{{ item.ExpiredDate | date: "dd/MM/yyyy" }}</span>
              </div>
              <div class="box-content">
                <label for="">Hình ảnh chứng nhận: </label>
                <div class="list-img">
                  <a
                    [href]="i.MediaURL"
                    target="_blank"
                    class="text"
                    *ngFor="let i of item.CertificationMedias"
                    >{{ i.MediaURL }}</a
                  >
                </div>
              </div>
            </div>
            <div class="box-content"></div>
          </div>
    
        <div class="subtitle">
            THÔNG TIN CHI TIẾT
        </div>
    
        <div class="layout">
    
            <div class="content row align-items-center">
                <div class="label"> Thành phần (<span class="require-icon">*</span>) </div>
                <div class="input-text">
                    <div class="chip-block">
                        <div class="chip-item" *ngFor="let chip of chips; let ix = index;">
                            {{chip}} <span (click)="removeChip(ix)">x</span>
                        </div>
                        <input [(ngModel)]="chipInput" name="chipInput" type="text"
                            (keyup.enter)=addChip($event.target.value) />
                    </div>
                </div>
    
    
            </div>
            <div class="content row align-items-center">
                <div class="label"> Nhãn hiệu (<span class="require-icon">*</span>) </div>
                <div class="input-text">
                    <div>
                        <input type="text"  [(ngModel)]="dataModel.Label" name="" />
                    </div>
                </div>
            </div>
            <div class="content row align-items-center">
                <div class="label"> Khối lượng/dung tích sản phẩm (<span class="require-icon">*</span>) </div>
                <div class="input-text">
                    <div>
                        <input type="text" [(ngModel)]="dataModel.Capacity"  name="" />
                    </div>
                </div>
            </div>
            <div class="content row align-items-center">
                <div class="label"> Đơn vị (<span class="require-icon">*</span>) </div>
                <div class="input-text">
                    <div>
                        <input type="text" [(ngModel)]="dataModel.Unit"  name="" />
                    </div>
                </div>
            </div>
            <div class="content row align-items-center">
                <div class="label"> Ngày sản xuất (<span class="require-icon">*</span>) </div>
                <div class="input-text">
                    <div>
                        <input type="date" [(ngModel)]="dataModel.ManufacturedOn"  name="" />
                    </div>
                </div>
            </div>
            <div class="content row align-items-center">
                <div class="label"> Hạn sử dụng (<span class="require-icon">*</span>) </div>
                <div class="input-text">
                    <div>
                        <input type="date" [(ngModel)]="dataModel.ExpiredOn"  name="" />
                    </div>
                </div>
            </div>
        </div>
        <div class="text-area">
            <label for="">Hướng dẫn sử dụng (<span class="require-icon">*</span>)</label>
            <textarea rows="5">{{dataModel.Manual}}</textarea>
        </div>
    
        <div class="button-block">
            <button (click)="closeDialog()" class="action-btn cancel-btn">Hủy bỏ</button>
            &nbsp;
            <button (click)="save()" class="action-btn save-btn">Lưu</button>
        </div>
    
    </div>