<!-- <app-create [(data)]="listCreate" [(option)]="option" [(arrayButton)]="arrayButton"
    (callback)="handleCallbackEvent($event)"></app-create> -->
<div class="form-create">
    <div class="title">
        Thêm mới sản phẩm
    </div>
    <div class="subtitle">
        THÔNG TIN CHUNG
    </div>
    <div class="layout">

        <div class="content row align-items-center">
            <div class="label"> Mã số sản phẩm toàn cầu (GTIN) (<span class="require-icon">*</span>) </div>
            <div class="input-text">
                <div>
                    <input type="text" id="" name="" />
                </div>

            </div>


        </div>
        <div class="content row align-items-center">
            <div class="label"> Tên sản phẩm (<span class="require-icon">*</span>) </div>
            <div class="input-text">
                <div>
                    <input type="text" id="" name="" />
                </div>

            </div>


        </div>
        <div class="content row align-items-center">
            <div class="label"> Gía niêm yết (<span class="require-icon">*</span>) </div>
            <div class="input-text">
                <div>
                    <input type="text" id="" name="" />
                </div>
            </div>
        </div>
        <div class="content row align-items-center">
            <div class="label"> Ngành hàng (<span class="require-icon">*</span>) </div>
            <div class="input-text">
                <div>
                    <select>
                        <option>
                            test
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="content row align-items-center">
            <div class="label"> Nhà phân phối (<span class="require-icon">*</span>) </div>
            <div class="input-text">
                <div>
                    <input type="text" id="" name="" />
                </div>
            </div>
        </div>
        <div class="content row align-items-center">
            <div class="label"> Điểm bán (<span class="require-icon">*</span>) </div>
            <div class="input-text">
                <div>
                    <input type="text" id="" name="" />
                </div>
            </div>
        </div>
    </div>

    <div class="subtitle">
        THÔNG TIN CHI TIẾT
    </div>

    <div class="layout">

        <div class="content row align-items-center">
            <div class="label"> Thành phần (<span class="require-icon">*</span>) </div>
            <div class="input-text">
                <div>
                    <input type="text" id="" name="" />
                </div>

            </div>


        </div>
        <div class="content row align-items-center">
            <div class="label"> Nhãn hiệu (<span class="require-icon">*</span>) </div>
            <div class="input-text">
                <div>
                    <input type="text" id="" name="" />
                </div>

            </div>


        </div>
        <div class="content row align-items-center">
            <div class="label"> Khối lượng/dung tích sản phẩm (<span class="require-icon">*</span>) </div>
            <div class="input-text">
                <div>
                    <input type="text" id="" name="" />
                </div>
            </div>
        </div>
        <div class="content row align-items-center">
            <div class="label"> Đơn vị (<span class="require-icon">*</span>) </div>
            <div class="input-text">
                <div>
                    <input type="text" id="" name="" />
                </div>
            </div>
        </div>
        <div class="content row align-items-center">
            <div class="label"> Ngày sản xuất (<span class="require-icon">*</span>) </div>
            <div class="input-text">
                <div>
                    <input type="text" id="" name="" />
                </div>
            </div>
        </div>
        <div class="content row align-items-center">
            <div class="label"> Hạn sử dụng (<span class="require-icon">*</span>) </div>
            <div class="input-text">
                <div>
                    <input type="text" id="" name="" />
                </div>
            </div>
        </div>
    </div>
    <div class="text-area">
        <label for="">Hướng dẫn sử dụng (<span class="require-icon">*</span>)</label>
        <textarea rows="5"></textarea>
    </div>

    <div class="button-block">
        <button class="action-btn cancel-btn">Hủy bỏ</button>
        &nbsp;
        <button class="action-btn save-btn">Lưu</button>
    </div>

</div>