<div class="home-container">
    <div class="col">
        <div class="col__item-1">
            <div class="row-1">
                <div class="box">
                    <div class="box__content">
                        <div>Khách hàng</div>
                        <div>683</div>
                    </div>

                </div>
                <div class="box">
                    <div class="box__content">
                        <div>Nhà phân phối</div>
                        <div>234</div>
                    </div>

                </div>
                <div class="box">
                    <div class="box__content">
                        <div>Điểm bán</div>
                        <div>82</div>
                    </div>

                </div>
            </div>
            <div class="row-2">
                <div class="row-2__content">
                    <div>
                        Sản phẩm
                    </div>
                    <div>
                        300/1 gói
                    </div>
                </div>

            </div>
        </div>
        <div class="col__item-2">

        </div>
    </div>
    <div class="col">
        <div class="col__item-1">

        </div>
        <div class="col__item-2">

        </div>
    </div>
</div>